[Unit]
Description=wpaperd wallpaper daemon
After=hyprland-session.target
PartOf=hyprland-session.target

[Service]
ExecStart=/usr/bin/wpaperd
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
