[user]
	email = richard.dorian@outlook.com
	name = RichardDorian
	signingkey = <GPG_KEY_ID>

[core]
	editor = nano

[credential]
	helper = manager
	credentialStore = gpg

[commit]
	gpgsign = true

[gpg]
	program = gpg
